
@section featured {
	<div class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 about-sioux-company">
				<h2>SIOUX COMPANY</h2>
				<p>
					Sioux is an innovative multidisciplinary technology partner that supports leading high tech companies in the development and manufacturing of their products. 
					With more than 450 dedicated engineers we support or act as the Research and Development department of our customers. With our excellent productivity, 
					we help to shorten the development time and to create a sustainable and competitive advantage at a competitive price / performance ratio. In addition to 
					development work Sioux also delivers complete products. This is achieved at the level of replacement parts and in the assembly of modules, subsystems and 
					finished products. We are committed to delivering results and can even help you with the funding of your innovation.
				</p>
			</div>
		</div>
	</div>
}