
@section featured {
	<div class="content">
		<div class="row">
			<div class="col-sm-7 introduce-content">
				<h2>Introduce</h2>
				<p>
					<b>TaskManagement</b> is the free, flexible, and visual way to organize anything with anyone.
					Drop the lengthy email threads, out-of-date spreadsheets, no-longer-so-sticky notes, and clunky 
					software for managing your projects. Trello lets you see everything about your project in a single 
					glance.
				</p>
			</div>
			<div class="col-sm-5 download-content">
				<div class="row text-app">
					<h2>Do you have app?</h2>
				</div>
	  			<div class="row chrome-extension">
					<div class="col-sm-6 text">
						<p>Download ChromeExtension</p>
					</div>
					<div class="col-sm-6">
						<div class="btn-group">
							<a href="#" class="btn btn-primary">Download</a>
							<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</div>	
				 </div>
				<div class="row get-ios">
	  				<div class="col-sm-6 text">
	  					<p>Get on IOS</p>
	  				</div>
	  				<div class="col-sm-6">
	  					<div class="btn-group">
	  						<a href="#" class="btn btn-primary">Download</a>
	  						<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  						<ul class="dropdown-menu">
	  							<li><a href="#">Action</a></li>
	  							<li><a href="#">Another action</a></li>
	  							<li><a href="#">Something else here</a></li>
	  							<li class="divider"></li>
	  							<li><a href="#">Separated link</a></li>
	  						</ul>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="row get-android">
	  				<div class="col-sm-6 text">
	  					<p>Get on Android</p>
	  				</div>
	  				<div class="col-sm-6">
	  					<div class="btn-group">
	  						<a href="#" class="btn btn-primary">Download</a>
	  						<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  						<ul class="dropdown-menu">
	  							<li><a href="#">Action</a></li>
	  							<li><a href="#">Another action</a></li>
	  							<li><a href="#">Something else here</a></li>
	  							<li class="divider"></li>
	  							<li><a href="#">Separated link</a></li>
	  						</ul>
	  					</div>
	  				</div>
	  			</div>
		  </div>
	  </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 about-dashboard">
				<p>
					This is a TaskManagement board. It’s a list of lists filled with cards, used with a team or by yourself.
				</p>
				<img src="~/Content/images/dashboard.png" />
				<p>
					Drag and drop cards between lists to show progress. Add as many people as you need and drag them to cards. Add and reorder lists as you need. Trello adapts to your project, team, and workflow.

					You’ll see everything about your project just by glancing at the board, and it all updates in real-time. There’s nothing to set up and everyone gets it instantly.
				</p>
			</div>
		</div>
	</div>
}