@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Loading...</title>
</head>
<body>
	<input type="hidden" id="cmd" value="@ViewBag.cmd" />
	<input type="hidden" id="data" value="@ViewBag.data" />
	<input type="hidden" id="close" value="@ViewBag.close" />
</body>
</html>
