<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Confirm register Task Management</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600px" style="border-collapse: collapse; border: 1px solid #CFCFCF">
		<tr>
			<td align="center" bgcolor="#F5F5F5" style="padding: 40px 0 30px 0; border-bottom: 1px solid #CFCFCF">
				<a href="http://localhost:34003" style="font-family: 'Comic Sans MS'; font-size: 1.8em; text-decoration: none; color: #f15d03">Task Management</a>
			</td>
		</tr>
		<tr>
			<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px">
				<table cellpadding="0" cellspacing="0" width="100%" align="center" style="font-size: 11pt">
					<tr>
						<td>
							<p>Hello <b>{UserNameTo}</b>,</p>
						</td>
					</tr>
					<tr>
						<td>
							You've recieved an invitation join to TaskManagement from <b>{UserNameFrom}</b>, <br />
							<p style="padding-left: 10px; text-align: justify; font-style: italic">{Message}</p>
							To join our system, please click into address: <br /> <br />
							<a style="margin: 5px 50px 5px 20px; color:#22BCE5; font-size: 9pt" href="{Url}">{Url}</a>
						</td>
					</tr>
					<tr>
						<td style="padding: 25px 0 0 0;">
							<p style="text-indent: 20px"><b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.</p>
						</td>
					</tr>
					<tr>
						<td>
							If you cannot click on the link just copy/paste it into your browser.
							<br /> <br />
							With kind regards,
							<br />
							<br />

							<b>Tony's Team</b>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F5F5F5" height="100px" style="border: 1px solid #CFCFCF">
				<table cellpadding="0" cellspacing="0" width="600px" align="center">
					<tr>
						<td style="font-size: 10pt; padding-left: 10px">
							<p>Sioux Embedded Systems Ltd. I 07-09 Tran Quoc Toan I Danang I Vietnam</p>
							<p>M (vn) +84 (0) 905333685 I M (nl) +31 (0) 621997722 I T +84 (0) 511-3888756 I <a href="#">huy.nguyen@sioux.asia</a> I <a href="www.sioux.asia">www.sioux.asia</a> </p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
