<doctype!>
<html>
	<head>
	</head>
	<body>
		<h1>Add Board</h1>
		<form action="http://localhost:34003/add-board" method="post">
			<input type="text" name="name" />
			<input type="submit" />
		</form>
	</body>
</html>
