@using Sioux.TaskManagement;

@{
	
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Login</title>

	<script src="~/Content/components/webcomponentsjs/webcomponents.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

	<link rel="import" href="~/Content/components/core-header-panel/core-header-panel.html">
	<link rel="import" href="~/Content/components/paper-input/paper-input.html">
	<link rel="import" href="~/Content/components/paper-input/paper-input-decorator.html">
	<link rel="import" href="~/Content/components/paper-button/paper-button.html">
	<link rel="import" href="~/Content/components/core-icon/core-icon.html">

	<link rel="stylesheet" type="text/less" href="~/Content/css/Login.less">
	<link rel="stylesheet" type="text/less" href="~/Content/css/zocial.less">

	<script type="text/javascript">
		var LoginSuccessRedirect = "@Html.Raw(MagicUrl.GuiHookExt("logged"))";
		var GoogleLoginExternalRedirect = "@Html.Raw(MagicUrl.ExternalLogin("google",""))";
		var FacebookLoginExternalRedirect = "@Html.Raw(MagicUrl.ExternalLogin("facebook", ""))";
	</script>
	<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="~/Scripts/Login.js"></script>

</head>
<body fullbleed vertical layout unresolved>
	<div class="wrapper">
		<div class="logo-content">
			<a href="../" id="logo" style="font-family: 'Comic Sans MS'">Task Management</a>
		</div>
		<paper-shadow class="main-content" z="1">
			<div align="center">
				<core-icon id="icon-account" icon="{{icon}}" aria-label="account-circle" role="img">
					<svg viewBox="0 0 24 24" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" fit="" style="pointer-events: none; display: block;"><g><path d="M12 2c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"></path></g></svg>
				</core-icon>
			</div>
			<span id="cannot-login"></span>
			<paper-input-decorator id="email" label="Email" layout="" vertical="">
				<input id="email-input" type="email" is="core-input" placeholder="with core-input" aria-label="with core-input">
			</paper-input-decorator>
			<span id="email-error"></span>
			<paper-input-decorator id="password" label="Password" layout="" vertical="">
				<input id="password-input" type="password" is=core-input" placeholder="with core-input" aria-label="with core-input">
			</paper-input-decorator>
			<span id="password-error"></span>
			<br />
			<paper-button id="submit" raised="" class="" role="button" tabindex="0">Log in</paper-button>
			<br />
			<div class="forget-password">
				<a href="#">Forgot password?</a>
			</div>
			<div class="help">
				<a href="#">Help</a>
			</div>
		</paper-shadow>
		<div class="bottom-content">
			<a id="registerSubmit" href="#">Register an account</a>
			<div class="btn-oauth">
				<button id="oauthgoogle" class="zocial google" role="button" tabindex="0">Google</button>
				<button id="oauthfacebook" class="zocial facebook" role="button" tabindex="0">Facebook</button>
				<button id="oauth" class="zocial twitter" role="button" tabindex="0">Twitter</button>
			</div>
		</div>
	</div>
</body>
</html>
